.blog1 img{
    padding: 0;

}
.blog a{
    font-size: 18px;
    margin-bottom: 15px;
    text-decoration: none;

}
.blog p{
    font-family: "Chivo",sans-serif;
    color: #4C5753;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 30px;
}
.blog_right_sidebar .single_sidebar_widget {
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px;
}
.joo a{
    text-decoration: none;
        color: #2d2d2d;
        font-size: 24px;
        margin-bottom: -3px; 
        font-weight: bold;
}

.trav span{
    color: #999999;
}
.tra{
    font-family: "Chivo",sans-serif;
    color: #4C5753;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 1.6;

}
li a{
    text-decoration: none;
    
}
ul{
    list-style: none;
}

.blog .single {
    background: #fbf9ff;
    
    padding: 30px;
    margin-bottom: 30px;
}
.btn2{
    padding: 10px 18px 10px 18px;
    border: none;
    color: white;
    background-color: #10C98F;
    cursor: pointer;
    border-radius: 0;
}
input{
    border-radius: 0;
}

h4{
    color: #2d2d2d;
}
.blog p{
    margin-bottom: 0;
}
.single ul a::after{
    content: "";

    top: 0;
}
.media img{
    height: 79px;
    width: 75px;
}
.media h3{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    margin-left: 20px;
    transition: all 0.3s linear;
}
.media p{
    margin-left: 20px;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px;
}
.media a h3:hover{
    cursor: pointer;
    color: #10C98F;
}
.list li {
  display: inline;} 
/* .dv{
    background-color:#fff;
    padding: 4px 0px 0px 4px;
} */
.blog .single .dv a{
       border-color: rgb(57, 55, 50);
    background-image: initial;
    background-color: rgb(26, 25, 23);
    color: rgb(156, 145, 127);
    display: inline-block;
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 3px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px;

}
.feed ul{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   padding-left: 0;
   grid-gap: 14px;
}
.mt-4{
    margin-top: 2.5rem !important;
}
.boxed-btn{
    height: 58px;
    margin-top: 20px;

}
input{
    height: 50px;
    border-radius: none;
    border: none;
}
input:focus{
    outline: none;

}
/* *:focus {
    outline: none;
} */
.form-control:focus {
    border-color: inherit;
    opacity: .5;
    box-shadow: none;
  }
.boxed-btn {
    background: #fff;
    color: #10C98F !important;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Inter",sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #10C98F;
    letter-spacing: 1px;
    text-align: center;
    color: #10C98F;
    text-transform: uppercase;
}
.boxed-btn:hover{
    color: #ffffff !important;
    background-color: #10C98F;
}
/* .asidepart2{
    margin-bottom: 123rem;
} */

@media only screen and (max-width: 992px) {
    .asidepart2 {
        margin-bottom: .5rem;
    }
    
  }
 