@media (max-width: 575.98px) { 
    .o-wrper{
        max-width: 100%;
    }
 }
@media (min-width: 576px) and (max-width: 767.98px) {  .o-wrper{
    max-width: 576px;
} }
@media (min-width: 768.px) and (max-width: 991.98px) { 
    .o-wrper{
        max-width: 992px;
    }
    .footer_manu{
        display: grid;
        grid-template-columns:repeat(3,2fr) ;
        grid-auto-rows: 3fr;
      }
 }
/* @media (min-width: 9px) and (max-width: 1199.98px) { ... }
@media (min-width: 1200px) and (max-width: 1399.98px) { ... }
@media (min-width: 1400px) { ... } */
@media  (max-width: 991.98px) { 
    .c-socialbar, .maximizenav{
        display: none;
    }
 }
@media  (min-width: 991.98px) { 
    .minimiznav {
        display: none;
    }
    .call-to-action {
        width: 55%;

      }
      .footer_manu{
        display: grid;
        grid-template-columns:repeat(6,2fr) ;
        flex-basis: ;
      }
 }
@media  (min-width: 1260px) { 
  
      .flagfive{
        /* display: flex;
        flex-direction: column;
        flex-basis: 0; */
        padding: 0;
      }
 }
@media  (min-width: 1199.98px) { 
    .hero .o-wrp::after{ 
        left:-62 !important;  
    }
    .flagfivehidden{
        display: none;
    }
}
@media  (max-width: 1199.98px) { 
    .a-link{
        display: none;
    }
 }