<!-- wp:template-part {"slug":"header","theme":"blockverse"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"blockverse/hero-section"} /-->
  <!-- wp:pattern {"slug":"blockverse/brand-logos-block"} /-->
  <!-- wp:pattern {"slug":"blockverse/about-section"} /-->
  <!-- wp:pattern {"slug":"blockverse/services-section"} /-->
  <!-- wp:pattern {"slug":"blockverse/project-showcase"} /-->
  <!-- wp:pattern {"slug":"blockverse/pricing-tables-block"} /-->
  <!-- wp:pattern {"slug":"blockverse/testimonial-section"} /-->
  <!-- wp:pattern {"slug":"blockverse/team-section"} /-->
  <!-- wp:pattern {"slug":"blockverse/call-to-action-section"} /-->
  <!-- wp:pattern {"slug":"blockverse/faq-block"} /-->
  <!-- wp:pattern {"slug":"blockverse/latest-post-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"blockverse"} /-->
