<!-- wp:template-part {"slug":"header","theme":"blockverse"} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"100%"}} -->
<div class="wp-block-group">
  <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"backgroundColor":"nutral","layout":{"type":"constrained","contentSize":"1200px"}} -->
  <div class="wp-block-group has-nutral-background-color has-background" style="padding-top: var(--wp--preset--spacing--80); padding-bottom: var(--wp--preset--spacing--80)"><!-- wp:post-title {"textAlign":"center","level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}}} /--></div>
  <!-- /wp:group -->

  <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
  <div class="wp-block-group" style="padding-top: var(--wp--preset--spacing--70); padding-bottom: var(--wp--preset--spacing--70)">
    <!-- wp:post-featured-image {"height":"500px"} /-->

    <!-- wp:post-content /-->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"blockverse"} /-->
